@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  font-family: 'Jersey 10', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1219;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

body {
  // display: flex;
  // place-items: center;
  // justify-content: center;
  // min-width: 320px;
  // min-height: 100vh;
}
