@use '@/assets/styles/collection/_mixins.scss' as *;

.hp-bar-container {
  position: absolute !important;
  left: 20px !important;
  top: 20px !important;
  width: 500px !important;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  backdrop-filter: blur(4px);

  @include pixel-box(
    $corner-size: 2,
    $border-size: 8px,
    $background-color: #08030370,
    $background-color-hover: #0f0e0e0b,
    $border-color: #0707079c
  );
}